@import "resets";

body {
    @include flex(column);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $light-grey;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.calculator {
    padding: 4rem 3rem;
    background-color: $white;
    border-radius: 1.5rem 1.5rem 10rem 1.5rem;

    &__form {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        max-width: 100%;
        margin-bottom: 1.5rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $light-grey;

        &-group {
            @include flex(column);
        }

        &-label {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.2rem;
            color: $smokey-grey;
        }

        .label-error {
            color: $light-red;
        }

        &-input {
            border: 1px solid $light-grey;
            border-radius: 0.5rem;
            padding: 0.5rem 1.2rem;
            width: 9.5rem;
            font: 700 2rem "Poppins", sans-serif;
            color: $off-black;
            cursor: pointer;
        }

        &-input::placeholder {
            color: $smokey-grey;
            font: 700 2rem "Poppins", sans-serif;
        }

        &-input:focus {
            border: 1px solid $purple;
            outline: none;
            caret-color: $purple;
        }

        &-input::-webkit-outer-spin-button,
        &-input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .input-error,
        .input-error:focus {
            border: 1px solid $light-red;
        }

        .show-form-error {
            display: block;
        }

        &-btn {
            position: absolute;
            right: 0;
            bottom: -2.5rem;
            width: 6rem;
            height: 6rem;
            border: none;
            background-color: $purple;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            & > img {
                width: 50%;
                height: 50%;
            }

            &:hover {
                background-color: $off-black;
            }
        }

        &-error,
        &-error2 {
            display: none;
            font-size: 0.8rem;
            font-weight: 400;
            font-style: italic;
            color: $light-red;
        }

        &-error2 {
            position: absolute;
            bottom: 1.5rem;
        }

        .show-error {
            display: block;
        }
    }

    &__result {
        padding-top: 2rem;

        &-value {
            font-size: 5rem;
            font-style: italic;
            font-weight: 800;
            line-height: 1.3;

            & > span {
                color: $purple;
            }
        }
    }
}

@media (max-width: 1000px) {
    .calculator {
        width: 90%;
        margin: auto;
        border-radius: 1.5rem 1.5rem 7rem 1.5rem;

        &__form {
            gap: 1rem;

            &-input {
                padding: 1rem;
                width: 7rem;
                font-size: 1.5rem;

                &::placeholder {
                    font-size: 1.5rem;
                }
            }

            &-btn {
                right: 45%;
                bottom: -2rem;
                width: 4rem;
                height: 4rem;
            }
        }

        &__result {
            &-value {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .calculator {
        padding: 4rem 1.5rem;

        &__form {
            &-input {
                width: 5.5rem;
                padding: 1rem 0 1rem 1rem;
                font-size: 1.2rem;

                &::placeholder {
                    font-size: 1.2rem;
                }
            }

            &-btn {
                right: 40%;
            }
        }
    }
}
